## Deliverable 2. Create a Customer Travel Destinations Map.

In [161]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [162]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Narsaq,GL,60.9167,-46.0500,53.82,81,93,5.08,overcast clouds
1,1,Tuktoyaktuk,CA,69.4541,-133.0374,50.00,87,90,9.22,light rain
2,2,Hobart,AU,-42.8794,147.3294,43.27,89,75,6.91,light rain
3,3,Hanna,CA,51.6334,-111.9018,89.24,15,100,13.69,overcast clouds
4,4,Port Blair,IN,11.6667,92.7500,81.59,83,99,21.05,overcast clouds

In [163]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 76

In [164]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"]>=min_temp)]
preferred_cities_df.head(100)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
28,28,Jamestown,US,42.0970,-79.2353,73.02,47,20,3.00,few clouds
39,39,Yaan,NG,7.3833,8.5667,73.78,91,99,5.66,moderate rain
43,43,Merauke,ID,-8.4667,140.3333,72.63,83,74,11.07,broken clouds
44,44,Barranca De Upia,CO,4.5696,-72.9668,70.81,95,100,3.40,overcast clouds
48,48,Vaini,TO,-21.2000,-175.2000,73.56,73,40,12.66,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
634,634,Helong,CN,42.5397,128.9972,70.41,98,99,1.28,overcast clouds
643,643,Kirakira,SB,-10.4544,161.9205,75.97,78,98,9.42,overcast clouds
660,660,Bambanglipuro,ID,-7.9500,110.2833,75.67,88,87,10.96,overcast clouds
662,662,Xuddur,SO,4.1213,43.8894,72.27,70,87,17.18,overcast clouds
671,671,Livno,BA,43.8269,17.0078,72.10,41,99,1.36,overcast clouds

In [165]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [166]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
28,28,Jamestown,US,42.0970,-79.2353,73.02,47,20,3.00,few clouds
39,39,Yaan,NG,7.3833,8.5667,73.78,91,99,5.66,moderate rain
43,43,Merauke,ID,-8.4667,140.3333,72.63,83,74,11.07,broken clouds
44,44,Barranca De Upia,CO,4.5696,-72.9668,70.81,95,100,3.40,overcast clouds
48,48,Vaini,TO,-21.2000,-175.2000,73.56,73,40,12.66,scattered clouds
55,55,Luganville,VU,-15.5333,167.1667,72.39,67,99,5.64,overcast clouds
58,58,Khandbari,NP,27.3747,87.2039,72.16,91,95,1.54,overcast clouds
74,74,Ushtobe,KZ,45.2514,77.9838,75.16,21,100,8.77,overcast clouds
78,78,Businga,CD,3.3333,20.8833,70.25,93,92,1.63,overcast clouds
83,83,Belmonte,BR,-15.8631,-38.8828,70.30,73,57,9.37,broken clouds

In [167]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
28,Jamestown,US,73.02,few clouds,42.0970,-79.2353,
39,Yaan,NG,73.78,moderate rain,7.3833,8.5667,
43,Merauke,ID,72.63,broken clouds,-8.4667,140.3333,
44,Barranca De Upia,CO,70.81,overcast clouds,4.5696,-72.9668,
48,Vaini,TO,73.56,scattered clouds,-21.2000,-175.2000,
55,Luganville,VU,72.39,overcast clouds,-15.5333,167.1667,
58,Khandbari,NP,72.16,overcast clouds,27.3747,87.2039,
74,Ushtobe,KZ,75.16,overcast clouds,45.2514,77.9838,
78,Businga,CD,70.25,overcast clouds,3.3333,20.8833,
83,Belmonte,BR,70.30,broken clouds,-15.8631,-38.8828,

In [168]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius":5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [169]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
28,Jamestown,US,73.02,few clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
39,Yaan,NG,73.78,moderate rain,7.3833,8.5667,
43,Merauke,ID,72.63,broken clouds,-8.4667,140.3333,
44,Barranca De Upia,CO,70.81,overcast clouds,4.5696,-72.9668,HOTEL GUAICARAMO
48,Vaini,TO,73.56,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
55,Luganville,VU,72.39,overcast clouds,-15.5333,167.1667,The Espiritu Hotel
58,Khandbari,NP,72.16,overcast clouds,27.3747,87.2039,Sainik Hotel And Lodge
74,Ushtobe,KZ,75.16,overcast clouds,45.2514,77.9838,"Gostinitsa ""Diyar"""
78,Businga,CD,70.25,overcast clouds,3.3333,20.8833,
83,Belmonte,BR,70.30,broken clouds,-15.8631,-38.8828,Pousada Monte Carmelo O Pão

In [170]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.replace('', pd.NA).dropna()

In [171]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
28,Jamestown,US,73.02,few clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
44,Barranca De Upia,CO,70.81,overcast clouds,4.5696,-72.9668,HOTEL GUAICARAMO
48,Vaini,TO,73.56,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
55,Luganville,VU,72.39,overcast clouds,-15.5333,167.1667,The Espiritu Hotel
58,Khandbari,NP,72.16,overcast clouds,27.3747,87.2039,Sainik Hotel And Lodge
74,Ushtobe,KZ,75.16,overcast clouds,45.2514,77.9838,"Gostinitsa ""Diyar"""
83,Belmonte,BR,70.30,broken clouds,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
85,Erenhot,CN,72.72,light rain,43.6475,111.9767,Erenhot Rurouni Youth Hostel
92,Sindgi,IN,72.91,overcast clouds,16.9167,76.2333,Swaranambika nilaya
97,Kapit,MY,73.42,broken clouds,2.0167,112.9333,Hotel Meligai Kapit

In [172]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [173]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp}˚F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [174]:
# 11a. Add a marker layer for each city to the map. 
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))